html,
body {
  background: #4e4e4e;
}

.d3-overflow {
  overflow: visible !important;
}

.d3-responsive {
  width: 100%;
  padding-right: 100px;
  display: block;
}

.highlighted {
  background: rgb(116, 116, 116) !important;
}
